.breadcrump-button {
  background: var(--wsr-color-20, #ffffff);
  padding: 7px 20px;
  border-radius: 3em;
  font-size: 14px;
  border-color: none;
  border: none;
  color: var(--wsr-text-color-primary-light, #333333);
  font-weight: 400;
  transition: all .2s ease-in;

  &:hover {
    background: var(--wsr-color-20, #9ad8fc);
    cursor: pointer;
    color: white;
  }
}

.breadcrump {
  background: var(--wsr-color-20, #ffffff);
  padding: 7px 20px;
  border-radius: 3em;
  font-size: 14px;
  border-color: none;
  border: none;
  color: var(--wsr-text-color-primary-light, #333333);
  font-weight: 400;
}

@media all and (max-width: 500px) {
  .padding {
    padding-top: 5%;
  }

  .movil-align {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-end !important;
    width: 100vw;
    align-content: center !important;
    align-items: flex-end !important;
    row-gap: 10px;
  }
}
