<mat-selection-list class="margin-links" [multiple]="false" #menuName (selectionChange)="onSelection($event)">
  <div *ngFor="let menu of menus">
    <mat-list-option class="primary-link" [value]="menu.name">
      <mat-icon mat-list-icon class="icon-font">
        {{ menu.icon }}
      </mat-icon>
      <div>{{ menu.display }}</div>
    </mat-list-option>
    <mat-list-option *ngFor="let subMenu of menu.subMenus" class="secondary-link" [value]="subMenu.name">
      {{ subMenu.display }}
    </mat-list-option>
  </div>
</mat-selection-list>
