@import '~@angular/material/theming';
@include mat-core();

:host ::ng-deep .owl-stage {
  display: flex;
  align-items: stretch;
}

.carousel-container__full {
  max-width: 97%;
  margin: auto;
}

.carousel-container__min {
  max-width: 33.3%;
  margin: auto
}

.carousel-container__middle {
  max-width: 50%;
  margin: auto
}

@media all and (max-width: 500px) {

  .carousel-container__min {
    max-width: 97%;
    margin: auto
  }

  .carousel-container__middle {
    max-width: 97%;
    margin: auto
  }

}

.carousel-style {
  display: flex;
  margin-top: 230px;
  align-items: center;
  align-content: center;
}

:host ::ng-deep .owl-item {
  display: flex;
  justify-content: center;
}

.carousel-item__style {
  width: 350px;
  margin-top: 20px;
  max-width: auto;
}

@media all and (max-width: 1440px) {
  .carousel-item__style {
    width: 330px;
  }
  @media all and (max-width: 1280px) {
    .carousel-item__style {
      width: 310px;
    }
  }
  @media all and (max-width: 1024px) {
    .carousel-item__style {
      width: 290px;
    }
  }
  @media all and (max-width: 780px) {
    .carousel-item__style {
      width: 270px;
    }
  }
}
