@import '~@angular/material/theming';
@include mat-core();

a {
  color: #222222 !important;
  text-decoration: none;
}

:host ::ng-deep .owl-stage {
  display: flex;
  align-items: stretch;
}

.carousel-container__full {
  max-width: 97%;
  margin: auto
}

.carousel-container__min {
  max-width: 33.3%;
  margin: auto
}

.carousel-container__middle{
  max-width: 50%;
  margin: auto
}

@media all and (max-width: 500px) {
  
  .carousel-container__min {
    max-width: 97%;
    margin: auto
  }
  
  .carousel-container__middle{
    max-width: 97%;
    margin: auto
  }

}



.carousel-style {
  display: flex;
  margin-top: 230px;
  align-items: center;
  align-content: center;
}

.outlined-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
  margin: 5px;
  background: #fff;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #dfe5eb;
  cursor: pointer;
  @include mat-elevation-transition;
  @include mat-elevation(0, #acacac, 0);

  &:hover {
    @include mat-elevation(6, #acacac, 0.9);
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  background: none !important;
  border: hidden;
}

:host ::ng-deep .mat-card-title {
  font-size: 20px !important;
}

.text-footer {
  font-size: 14px;
  padding: 2%;
  align-items: center;
}

.star-size {
  font-size: 20px;
  color: rgb(255, 211, 13);
}

.box {
  width: 70px;
  height: 70px;
  background: none;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: auto;
}

@supports(object-fit: contain) {
  .box img {
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }
}
