<mat-drawer-container class="container" [hasBackdrop]="!mode">
  <mat-drawer #drawer [mode]="mode ? 'side' : 'over'" [opened]="toggle" class="sidenav">
    <side-links [menus]="menus" (menuNameEvent)="onMenuNameChange($event)"
      (integrationsSearchEvent)="onIntegrationsSearchChange($event)"
      (integrationEmptyEvent)="onIntegrationEmpty($event)"></side-links>
  </mat-drawer>
  <mat-drawer-content>
    <div class="mt-3 mb-3">
      <full-integration *ngIf="!isIntegrationEmpty(integration)"
        [integration]="integration" [eIntegration]="eIntegration">
      </full-integration>
      <integration-card *ngIf="isIntegrationEmpty(integration)" [menus]="menus" [selectedMenu]="selectedMenu"
        [sIntegrations]="sIntegrations" (integrationSelectedEvent)="fullIntegration($event)"
        [eIntegration]="eIntegration"></integration-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
