.container {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sticky {
  background-color: white !important;
  position: fixed !important;
  position: -webkit-sticky !important;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 998;
  /* Ensure that your app's content doesn't overlap the toolbar */
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  background: rgba(224, 224, 224, 0.1);
}

:host ::ng-deep .mat-drawer-side {
  border-right: none;
}

:host ::ng-deep .mat-drawer-inner-container {
  background: white;
  overflow: overlay;
  overflow-x: hidden;
}

:host ::ng-deep .mat-drawer:not(.mat-drawer-side) {
  box-shadow: none !important;
}

:host ::ng-deep .mat-drawer-container {
  margin-top: 0 !important;
  height: 100vh !important;
}

:host ::ng-deep .mat-drawer-content {
  background-color: white;
  padding-bottom: 30px;
}

.margin-top-content {
  margin-top: 6%;
}

.shortcut__margin-top {
  margin-top: 70px;
  max-width: auto;
  overflow-x: hidden;
}

@media all and (max-width: 500px) {
  .margin-top-content {
    margin-top: 18%;
  }
}
