<mat-drawer-container class="container" [hasBackdrop]="!mode">
    <mat-drawer #drawer [mode]="mode ? 'side' : 'over'" [opened]="toggle" class="sidenav">
        <side-links [menus]="menus" (menuNameEvent)="onMenuNameChange($event)" (integrationsSearchEvent)="onIntegrationsSearchChange($event)"></side-links>
    </mat-drawer>
    <mat-drawer-content>
        <div class="mt-3 mb-3">
            <router-outlet *ngIf="isFullIntegration()"></router-outlet>
            <integration-card *ngIf="!isFullIntegration()" [menus]="menus" [selectedMenu]="selectedMenu" [sIntegrations]="sIntegrations"></integration-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>