<ng-container fluid>
  <div fxLayout="column">
    <navbar *ngIf="menus !== undefined && menus.length > 0" (toggleEvent)="toggle = $event" [menus]="menus"
      (integrationsResultEvent)="onIntegrationsResultChange($event)" (integrationEmptyEvent)="onIntegrationEmpty($event)"
      (selectedMenuEvent)="onChangeSelectedMenu($event)" (searchControlEvent)="onSearchControlChange($event)">
    </navbar>
    <sidenav-menu *ngIf="menus !== undefined && menus.length > 0" [toggle]="toggle" [menus]="menus"
      [selectedMenu]="selectedMenu" (menuNameEvent)="onMenuNameChange($event)" [sIntegrations]="sIntegrations"
      [eIntegration]="eIntegration" [integrations]="integrations" [shortcutIntegrations]="shortcutIntegrations"
      [searchControlValue]="searchControlValue">
    </sidenav-menu>
  </div>
</ng-container>
