<ng-container fluid>
  <div fxLayout="column">
    <navbar (toggleEvent)="toggle = $event" *ngIf="menus !== undefined && menus.length > 0" [menus]="menus"
      (integrationsEvent)="onIntegrationsChange($event)" (integrationEmptyEvent)="onIntegrationEmpty($event)"
      (selectedMenuEvent)="onChangeSelectedMenu($event)" (notFoundEvent)="onNotFound($event)">
    </navbar>
    <sidenav-menu [toggle]="toggle" *ngIf="menus !== undefined && menus.length > 0" [menus]="menus"
      [selectedMenu]="selectedMenu" (menuNameEvent)="onMenuNameChange($event)" [sIntegrations]="sIntegrations"
      [eIntegration]="eIntegration" [integrations]="integrations" [notFound]="notFound"
      [shortcutIntegrations]="shortcutIntegrations">
    </sidenav-menu>
  </div>
</ng-container>
