.grid {
  display: grid;
  grid-gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
}

.grid>* {
  height: auto;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(auto-fill, 350px);
  }
}
