@import '~@angular/material/theming';
@include mat-core();

.grid {
  display: grid;
  grid-gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
}

.grid>* {
  height: auto;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(auto-fill, 350px);
  }
}


.box {
  width: 70px;
  height: 70px;
  background: none;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: auto;
}

@supports(object-fit: contain) {
  .box img {
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }
}

.box_not-found img {
  @media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
  }
}


@media all and (max-width: 500px) {
  .not-found {
    width: 100vh;
    max-width: 100%;
    border-radius: .5em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    img {
      width: 100px;
    }
  }
}

.not-found {
  width: 100vh;
  max-width: 100%;
  border-radius: .5em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  img {
    width: 100px;
  }
}

.padding {
  padding-right: 50px;
  padding-top: 25px;
}
